*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

/* headersection */

body{
    background-color: black;
    color: #fff;
    overflow-x: hidden
}

#header-section{
    background-image: url(../images/nony.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
   
}

.navigation-container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100vw;
    margin-right: 10px;

    
}

.head-link{

    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: start;
   
}

.head-link li a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: 700px;
    
    
}
.image-container{
    width: 20%;
    margin-left: 10px;
    margin:20px;
}

.head-link li a:hover{
    color: red;
    font-size: 25px;
    box-shadow: 2px 2px 5px grey;
    transition: box-shadow 0.15s, font-size 0.15s;
    font-weight: 700px;
}

.head-link li{
    list-style: none;
}

.head-logo{
    width: 20%;
    cursor: pointer;
    border-radius: 20px;
}

.hero-message{
    margin: 50px;

}

.hero-message p{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-message h1 span{
    color: rgb(8, 240, 78);

}
    
    
    
.cv-btn{
    width: 3%;
    font-size: 16px;
    margin-left: 70px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 2px 2px 5px grey;
    opacity: 0.6;
    text-align: center;
    background-color: lightgray;
    display: flex;
    
    
    
}

.cv-btn img{
    width: 100%;

}
.btn-cv{
    border-radius: 10px;
    background-color: green;

}
.cv-btn:hover{
    font-size: 18px;
    background-color:red;
    transition: box-shadow 0.15s, font-size 0.15s;
    
}
.cv-btn img:hover{
    width: 120%;
    transition: width 0.15s;
}

 /* about section */

.about-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    flex-wrap: nowrap;
    margin: 20px;
    

 }
 .about-image{
    width: 100%;
    flex-basis: 40%;
    margin-left: 10px;
    
 }
 .about-image img{
    border-radius: 15px;
    width: 100%;
    
    
    
 }
 .contact-title{
    padding-bottom: 10px;
    text-align: center;
 }

 .about-message{
    width: 100%;
    margin-right: 40px;
    height: 400px;
    margin-left: 40px;

 }

 .about-message p{
    font-size: 18px;
    
 }

 .contact-title{
    font-size: 60px;
 }
 .about-column{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    justify-content: space-between;
 }

 
 .skills-col{
    font-size: 20px;
    cursor: pointer; 
    position: relative;

 }

 .skills-col::after{
    position: absolute;
    content: "";
    height: 3px;
    background-color: red;
    width: 100%;
    left: 0;
    bottom:0;
 }

 .experience-col::after{
    position: absolute;
    content: " ";
    height: 3px;
    background-color: red;
    width: 60%;
    left: 0;
    bottom:0;

 }
 .portfolio-col::after{
    position: absolute;
    content: " ";
    height: 3px;
    background-color: red;
    width: 50%;
    left: 0;
    bottom:0;

 }

.experience-col{
    font-size: 20px;
    cursor: pointer;
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
}

.portfolio-col{
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.skills-col:hover{
    color: red;
    font-size: 25px;
    box-shadow: 2px 2px 5px grey;
    transition: box-shadow 0.15s, font-size 0.15s;
}

.experience-col:hover{
    color: red;
    font-size: 25px;
    box-shadow: 2px 2px 5px grey;
    transition: box-shadow 0.15s, font-size 0.15s;
}
.portfolio-col:hover{
    color: red;
    font-size: 25px;
    box-shadow: 2px 2px 5px grey;
    transition: box-shadow 0.15s, font-size 0.15s;
    
}

.skillset-container{
    margin-top: 10px;
}

.skillset-container ul{
    list-style: none;
    margin-right: 50px;
}
.skillA span{
    color: red;
    font-size: 18px;
    padding-bottom: 20px;
}

.skillA li{
    margin: 20px 0;
}
.skillB span{
    color: red;
    font-size: 15px;
}
.skillC span{
    color: red;
    font-size: 15px;;
}
.skillD span{
    color: red;
    font-size: 15px;;
}
.skillA, .skillB, .skillC, .skillD{
    padding: 10px;
}

.skillset-container{
    display: none;
}

.skillset-container.active-tab{
    display:block;
}



/* contact me section */
.contactme-title{
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group{
    font-size: 20px;
    margin-left: 10px;
    text-align: center;
    
}

.legend{
    margin-bottom: 20px;
}

input{
    font-size: 20px;
    width: 400px;
    height: 35px;
    padding: 10px;
    margin: 10px 20px;
    background-color: rgb(1, 1, 12);
    color: white;
}
label{
    margin: 30px;
}
textarea{
    margin: 20px;
    font-size: 20px;
    background-color: rgb(1, 1, 12);
    color: white;
}
legend{
    text-align: center;
}

fieldset{
    text-align:center;
}


.submit-btn{
    border-radius: 25px;
    background-color: green;
    cursor: pointer;
    font-size: 20px;
    padding: 20px 90px;
    text-align: center;
}



.submit-btn:hover{
    background-color: lightgreen;
    transition: 0.15s;
}

.submit-container{
    text-align: center;
   
}

/* interest section */

.interest-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 20px;
    
}

.app-dev{
    background-color: lightcoral;
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px;
    width: 30%;

}

.robotics{
    background-color: lightskyblue;
    border-radius: 20px;
    padding:10px;
    margin-right: 50px;
    width: 30%;
}

.web-container{
    width: 30%;
    background-color: rgb(61, 18, 18);
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
}
.web-skills-header{
    text-align: center;
}
.app-skills-header{
    text-align: center;
}
.robotics-skills-header{
    text-align: center;
}

.interest-header{
    font-size: 60px;
    text-align: center;
    margin: 20px;
    
}
.web-btn{
    border-radius: 10px;
    padding: 5px 35px;
    margin: 30px;
    font-size: 20px;
    background-color: green;
    border: none;
    color: white;
}

.web-btn1{
    text-align: center;
}
.web-btn:hover{
    cursor: pointer;
    opacity: 0.6;
    
}

/* projects */

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 40px;
    margin-top: 20px;
    width: 80%;   
}

.project1{
    margin-left: 20px;
    margin-right: 20px;
    
}

.img-a{
        width: 400px;
        height: 450px;
        margin-left: 20px;
        border-radius: 25px;
}
.img-b{
    width: 400px;
    height: 450px;
    border-radius: 25px;
    
}
.img-c{
    width: 400px;
    height: 450px;
    border-radius: 25px;
    
}
.img-d{
    width: 400px;
    height: 450px;
    margin-left: 20px;
    border-radius: 25px;
    
}
.img-e{
    width: 400px;
    height: 450px;
    border-radius: 25px;

    
}
.img-f{
    width: 400px;
    height: 450px;
    border-radius: 25px;
    
}

.project-header{
    text-align: center;
    font-size: 40px;
    margin: 40px;

}

.skill-level{
    display: flex;
    margin: 1px;
    margin-bottom: 20px;
    margin-left: 30px;
    
}

.sky{
    padding: 0 10px;
}

.btn-blue{
    background-color: blue;
    border-radius: 10px;
    padding: 1px 35px;
    cursor: pointer;
    border: none;
    font-size: 10px;
}

.btn-blue:hover{
    opacity: 0.6
}
.btn-green{
    background-color: green;
    border-radius: 10px;
    padding: 1px 35px;
    cursor: pointer;
    border: none;
    font-size: 10px;
}

.btn-green:hover{
    opacity: 0.6
}
.btn-yellow{
    background-color: yellow;
    border-radius: 10px;
    padding: 2px 2px;
    cursor: pointer;
    border: none;
    font-size: 10px;
}

.btn-blue:hover{
    opacity: 0.6
}

/* education */
.edu-header{
    font-size: 25px;
}

.edu-para{
    font-size: 16px;
    padding-top: 20px;
}

.main-header{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}

/* css for education section */

.edu-container{
    border: 2px solid rgba(0, 0, 5, 0.116);
    box-shadow: 2px 2px 5px rgb(14, 14, 71);
    padding: 10px;
    margin-left: 0 20px;
    flex: 1;
    
}

.main-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:0 20px;
    flex-wrap: wrap;
    margin: 20px;
   
}

.btn{
    text-align: center;
    padding:10px 70px;
}

.btn1{
    background-color: green;
    padding:10px 35px;
    border-radius: 12px;
    color: white;
    font-size: 20px;;

}

.span-tech{
    color: blue
}


.foot-p .foot-btns{
    font-size: 16px;
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 8px 20px;
    
}
.foot-p{
    text-align: center;
    margin-top: 30px;
    
    
}

.foot-form{
    
}

.footer-para{
    text-align: center;
}

.xicons{
    display: flex;
    width: 100%;
    margin-left: 70px;
    
}

.fb{
    width: 3%;
    text-align: center;
    padding: 10px;
    
}

.fb:hover{
    cursor: pointer;
    opacity: 0.6;

}

.fa-solid{

}
.container{
    text-align: center;
    margin-top: 50px;
}
.container p{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* css for smaller screens */

@media only screen and (max-width: 600px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #header-section{
        background-image: url(../images/nony.jpeg);
        background-repeat: no-rep;
        background-size: cover;
        background-position: right left;
       
    }
    .navigation-container{
    
        display: none;
    }
    .about-container{
        display: grid;
    }
    
    .hero-message {
        font-weight: 700;
        width:40%;
        margin-left: 10px;
        

    }
    .hero-message p{
        margin-top: 40px;
        font-size: 20px;
        line-height: 1.5em;
        width: 100%;
    }
    .hero-message h1{
        font-size: 25px;
        line-height: 1.5em;
    }

    .about-image{
        width: 100%;
        margin-right: 20px;
    }
    .about-image img{
        width: 100%;
        padding-right: 50px;
    }
    .about-message{
        margin: 0;
        width: 100%;
        padding-left: 5px;
        padding-right: 12px;
        
    }
    .contact-title{
        font-size: 60px;
        padding-top: 30px;

    }

    .interest-header{
        margin-top: 120px;
    }

    .interest-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        row-gap: 30px;
        margin: 0;
    }
    .web-container{
        width: 100%;
        margin-right: 10px;

    }

    .app-dev{
        width: 100%;
    }
    .robotics{
        width: 100%;
        margin:10px;
    }
}